@model WeatherAppIn.Net6.Models.City ;
@{
    ViewData["Title"] = "City";
}
<div class="container">
    <div class="container">
        <div class="form-group offset-3 col-md-5"> 
            <h2>
                Weather For Select City
            </h2>
            <label asp-for="Name"> </label>
            <span class="badge alert-primary">@Model.Name</span> <br/>

             <label asp-for="Temperature"> </label>
            <span class="badge alert-primary">@Model.Temperature</span> <br/>

             <label asp-for="Humidity"> </label>
            <span class="badge alert-primary">@Model.Humidity</span> <br/>

              <label asp-for="Pressure"> </label>
            <span class="badge alert-primary">@Model.Pressure</span> <br/>

            <label asp-for="Wind"> </label>
            <span class="badge alert-primary">@Model.Wind</span> <br/>

                <label asp-for="Weather"> </label>
            <span class="badge alert-primary">@Model.Weather</span> <br/>

           <form method="get">
               <button asp-action="SearchByCity" class="btn btn-primary"> back </button>
           </form>




        </div>
    </div>

</div>